@using System.Collections;
@using Model.Entities;
@model IEnumerable<CartItem>

@{
    ViewBag.Title = "Koszyk";
    int ilosc = 0;
    decimal suma = 0;
}


@if (Model.Count() != 0)
{
    <h2>Koszyk</h2>
    <table class="table">
        <tr>
            <th>
                Zdjęcie
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Ilość
            </th>
            <th>Cena Za sztukę</th>
            <th>Łącznie</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="data:image;base64,@System.Convert.ToBase64String((byte[])item.Product.Image)" width="75" height="75" />
            </td>

            <td>
                @Html.DisplayFor(model => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Amount) 
            </td>
            <td>
                @Html.DisplayFor(model => item.Product.Prices.ElementAtOrDefault(0).Value) zł
            </td>
            <td>@{decimal howmuch = item.Amount * item.Product.Prices.ElementAtOrDefault(0).Value;
            }
            @howmuch zł
              </td>
            <td>
                @Html.ActionLink("+", "Add", new { id = item.Id },  new { @class = "btn btn-default" } ) 
      
                @Html.ActionLink("-", "Remove", new { id = item.Id }, new { @class = "btn btn-default" }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.Key.Id })*@
            </td>
        </tr>
            suma += item.Product.Prices.ElementAtOrDefault(0).Value*item.Amount;
        }
        <tr>
            <td><b>Podsumowanie</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@suma zł</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right;"><input type="button" value="Usuń koszyk" class="btn btn-default" /></td>
            <td> <input type="button" value="Kontynuuj" class="btn btn-default" /></td>
            <td></td>

        </tr>
    </table>
}
else
{
    <h2>Twój koszyk jest pusty!</h2>
}
