@model IEnumerable<Model.Entities.Product>
@{
    ViewBag.Title = "Index4";
    int licznik = 1;
}

<h2>Index4</h2>

<div class="row ">
    <h2>Prezentacja koszyka</h2>
    @foreach (var item in Model)
    {
        <div class="help">
            <div class="product col-md-3">
                <div class="product_nazwa product_inside"> @Html.DisplayFor(modelItem => item.Name)</div>
                <div class="shops">
                    <div class="shop_nazwa product_inside">
                        :
                        @*Html.DisplayFor(modelItem => item.Price.Shop.nazwa)*@
                    </div>
                    <div class="shop_date product_inside">
                        :
                        @*Html.DisplayFor(modelItem => item.Price.Shop.data)*@
                    </div>
                </div>
                @*<div class="zdj">
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="150" height="150" />
                </div>*@
                <div class="product_opis">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="values">
                    <div class="value_kcal_text">
                        <p>Wartość <br /> Energetyczna</p>
                        <div class="value_kcal product_inside">
                            @Html.DisplayFor(modelItem => item.Nutrient.CalorifiValue)
                        </div>
                    </div>
                    <div class="values_rest">
                        <p id="values_rest_text">*wartość odżywcza w 100g produktu</p>
                        <div class="value_tluszcze_text">
                            <p>Tłuszcze</p>
                            <div class="value_tluszcze product_inside">
                                @Html.DisplayFor(modelItem => item.Nutrient.SaturatedFat)
                            </div>
                        </div>
                        <div class="value_bialka_text">
                            <p>Białka</p>
                            <div class="value_bialka product_inside">
                                @Html.DisplayFor(modelItem => item.Nutrient.Protein)
                            </div>
                        </div>
                        <div class="value_weglowodany_text">
                            <p>Węglowodany</p>
                            <div class="value_weglowodany product_inside">
                                @Html.DisplayFor(modelItem => item.Nutrient.Carbohydrate)
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear: both;" class="product_kod">
                    @Html.DisplayFor(modelItem => item.Barcode)
                </div>
            </div>
        </div>
    }
    @{
        if (licznik % 3 == 0 && licznik > 0)
        {
            Html.Raw("<span style='float: clear: both;'></span>");
            licznik = 0;
        }

        licznik++;
    }
</div>